/* line 17, ../../../../LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

/* line 33, ../sass/main.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 37, ../sass/main.scss */
.container {
  width: 100%;
  min-width: 320px;
  max-width: 600px;
  margin: 30px auto;
  background: #fafafa;
  padding: 20px;
}

/* line 47, ../sass/main.scss */
h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
/* line 50, ../sass/main.scss */
h1.secondary {
  font-size: 1.4em;
  padding-top: 15px;
}

/* line 56, ../sass/main.scss */
h2.new-list-header {
  margin: 40px 0 10px;
}

/* line 61, ../sass/main.scss */
input[type=search],
input[type=text] {
  font-size: 18px;
  padding: 5px 10px;
  min-width: 200px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 71, ../sass/main.scss */
input[type=search] {
  padding: 5px 0;
}

/* line 76, ../sass/main.scss */
input[type=submit],
button {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  background: #3f72d8;
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 78, ../sass/main.scss */
input[type=submit].small,
button.small {
  font-size: 12px;
  padding: 4px 8px;
  color: #111;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-shadow: none;
  background: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
  background: -webkit-linear-gradient(top, #ffffff, #fafafa);
  background: -moz-linear-gradient(top, #ffffff, #fafafa);
  background: -o-linear-gradient(top, #ffffff, #fafafa);
  background: linear-gradient(top, #ffffff, #fafafa);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 83, ../sass/main.scss */
ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

/* line 88, ../sass/main.scss */
li {
  padding-bottom: 10px;
}

/* line 92, ../sass/main.scss */
a {
  text-decoration: none;
  color: #3F72D8;
}

/* line 97, ../sass/main.scss */
.name {
  font-weight: bold;
  width: 120px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 103, ../sass/main.scss */
.list {
  max-width: 300px;
}

/* line 107, ../sass/main.scss */
a.remove {
  padding: 0 3px;
  float: right;
  color: red;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 114, ../sass/main.scss */
.message {
  padding: 20px 0;
  color: #333;
}
