
<section>

    <header>
        <h1 class="secondary">{{ foodstuff.name }}</h1>
        <h2>Näringsvärden per 100g</h2>
    </header>

    <ul class="foodstuff">
        <li ng-repeat="property in foodstuff.properties">
            <span class="name">{{ property.name }}</span> {{ property.value }} {{ property.unit }}
        </li>
    </ul>

    <footer ng-show="lists">

        <header>
            <h2 class="new-list-header">Lägg till i lista:</h2>
        </header>

        <select ng-model="listObject" ng-options="list.name for list in lists">
            <option value=""> -- välj listan -- </option>
        </select>

        <button class="small" ng-click="save()">ok</button>

        <div ng-bind-html="message" class="message"></p>

    </footer>

</section>
