
<section>

    <header>
        <h1 class="secondary">{{ foodstuff.name }}</h1>
    </header>

    <ul>
        <li ng-repeat="property in foodstuff.properties">
            <span class="name">{{ property.name }}</span> {{ property.value }}
        </li>
    </ul>

    <button class="small" ng-click="save()">spara till lista</button>

    <select ng-model="listObject" ng-options="list.name for list in lists">
        <option value=""> -- välj -- </option>
    </select>

    <p class="message">{{ message }}</p>

</section>
