
<section>

    <header>
        <h1 class="secondary">Listor</h1>
    </header>

    <ul class="list">
        <li ng-repeat="list in lists">
            <a href="/list/{{ $index }}">{{ list.name }} <span class="entypo">&#59230;</span></a>
            <a href="/list" class="remove" ng-click="removeListItem( $index )">&#10006;</a>
        </li>
    </ul>


    <form action="">
        <header>
            <h2 class="new-list-header">Lägg till ny lista</h2>
        </header>
        <input type="text" name="list" ng-model="listTitle">
        <button ng-click="newList()">ok</button>
    </form>

</section>
